/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-P1/config/keys.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-P2/config/keys.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-P3/config/keys.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-S1/config/keys.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-S2/config/keys.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-S3/config/keys.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-T3/config/keys.txt

/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-P1/config/transitoken.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-P2/config/transitoken.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-P3/config/transitoken.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-S1/config/transitoken.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-S2/config/transitoken.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-S3/config/transitoken.txt
/home/davidaroca/Escritorio/vault-ha-dr/vault-ha-docker/vault-T3/config/transitoken.txt

keys.txt
*.txt
*.json
*.db
*.lic
.env
.backup